<p style="color: green"><%= notice %></p>

<%= render @inventory %>

<table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% InventoryFood.where(inventory_id: @inventory.id).each do |inventory_food| %>
          <td><%= Inventory.find_by(id: inventory_food.inventory_id).name %></td>
          <td> <%= inventory_food.quantity %> </td>
          <td>
          <%= button_to "Remove", inventory_food, method: :delete, data: { confirm: "Are you sure?" } %>
          </td> 
        <% end %>
      </tr>
    </tbody>
  </table>


<style>
  table {
    border-collapse: collapse;
    border-spacing: 0.5rem;
    width: 30%;
    text-align: center;
  }
  table, tr {
    border-radius: 20px;
  }
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
  }
</style>


<%= form_with(model: @inventory_food) do |form| %>
  <% if @inventory_food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@inventory_food.errors.count, "error") %> prohibited this inventory_food from being saved:</h2>

      <ul>
        <% @inventory_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= collection_select(:inventory_food, :food_id, Food.all, :id, :name) %>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
    <%= collection_select(:inventory_food, :inventory_id, Inventory.all, :id, :name) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
