<div class=recipe-card>
  <%= link_to recipe do %>
  <div class="recipe-container" id="<%= dom_id recipe %>">
      <div class="recipe-flex">
      <p class="recipe-name">
        <strong>Name:</strong>
        <%= recipe.name %>
      </p>
    </div>
    <div class="recipe-flex">
      <p>
        <strong>Description:</strong>
        <%= recipe.description %>
      </p>

      <p>
        <strong>Public:</strong>
        <%= recipe.public %>
      </p>
    </div>
  </div>
  <% end %>
  <%= button_to "Remove", @recipes_path, method: :delete, data: { confirm: "Are you sure?" }, class: "actions" %>
</div>