<tbody>
  <tr>
    <td><%= food.name %></td>
    <td><%= food.measurement_unit %></td>
    <td> $ <%= food.price%></td>
    <td>
      <%= if can? :mange, food%>
        <%= button_to "Delete", food, :method => :delete, data: { confirm: "Are you sure?" } %>
      <% end %>  
    </td>
  </tr>    
</tbody>
